<div class="blogger_card">
    <div class="module">
        <div class="blogger_card-inner">
            <picture class="pctr">
                <img src="/img/blogger_avatars/<%=blogger.instagram.account %>.png" alt="" class="blogger_card-img">
            </picture>
            <div class="bloger_card-info">
                <span class="bloger_card-info-span">
                    <%= blogger.instagram.account %>
                    <br>
                </span>
                <span class="bloger_card-info-span">
                    inst: <%= blogger.instagram.followers %>+ подписчиков
                </span>
            </div>
        </div>
        <div class="blogger_buttons">
            <a target="_blank" rel="noopener noreferrer" href='https://instagram.com/<%=blogger.instagram.account %>'><button class="blogger_btn bloger_buttons-item btn-blue">
                Подробнее
            </button></a>
            <a target="_blank" rel="noopener noreferrer" href='https://instagram.com/hypes.media'><button class="blogger_btn bloger_buttons-item btn-pink">
                Заказать рекламу
            </button></a>
        </div>
    </div>
</div>