<div class="blogger_card">
    <div class="module">
        <div class="blogger_card-inner">
            <img src="<%=blogger.instagram.avatar %>" alt="" class="blogger_card-img">
            <div class="bloger_card-info">
                <span class="bloger_card-info-span">
                    <%= blogger.instagram.account %>
                    <br>
                </span>
                <span class="bloger_card-info-span">
                    inst: <%= blogger.instagram.followers %>+ подписчиков
                </span>
            </div>
        </div>
        <div class="blogger_buttons">
            <button class="blogger_btn bloger_buttons-item btn-blue">
                Подробнее
            </button>
            <button class="blogger_btn bloger_buttons-item btn-pink">
                Заказать рекламу
            </button>
        </div>
    </div>
</div>