<div class="header_hidden">
    <div class="header_hidden-logo-container">
        <img class="header_hidden-logo-img" src="/img/logo.png">
    </div>
    <div class="header_burger-menu">
        <div id="menu" class="menu">
            <button id="c-humburger-line1" class="c-hamburger c-humburger-line1">
            </button>
            <button id="c-humburger-line2" class="c-hamburger c-humburger-line2">
            </button>
            <button id="c-humburger-line3" class="c-hamburger">
            </button>
        </div>
        <nav id="header_hidden-ul" class="header_hidden-ul">
            <ul class="header_hidden-container">
                <li class="header_hidden-ul-item">
                    <a href="/" class="header_hidden-link">О нас</a>
                </li>
                <li class="header_hidden-ul-item">
                    <a href="/bloggers" class="header_hidden-link">Наши блогеры</a>
                </li>
                <li class="header_hidden-ul-item">
                    <a href="/join" class="header_hidden-link">Блогерам</a>
                </li>
                <li class="header_hidden-ul-item">
                    <a href="/advertisers" class="header_hidden-link">Рекламодателям</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<header class="header">
    <div class="container">
        <nav class="header_nav">
            <ul class="header_ul">
                <li class="header_nav-item"><a href="/">О нас</a></li>
                <li class="header_nav-item"><a href="/bloggers">Наши блогеры</a></li>
                <li class="header_nav-item">
                    <img src="/img/logo.png">
                </li>
                <li class="header_nav-item"><a href="/join">Блогерам</a></li>
                <li class="header_nav-item"><a href="/advertisers">Рекламодателям</a> </li>
            </ul>
        </nav>
    </div>
</header>