<header class="header header_cabinet">
    <div class="container-fluid">
        <nav class="header_nav header_nav-cabinet">
            <ul class="header_ul header_ul-cabinet">
                <li class="header_nav-item"><a href="/blogger/panel">Реклама</a></li>
                <li class="header_nav-item"><a href="/blogger/panel/withdraw">Вывод денег</a></li>
                <li class="header_nav-item"><a href="#">Настройки профиля</a></li>
                <li class="header_nav-item">
                    <img src="/img/sky.png">
                </li>
            </ul>
            <div class="header_cabinet-profil">
                <div class="header_profil-info">
                    <strong id="balance">Баланс</strong>
                    <span id="sum"><%= user.balance %> рублей</span>
                </div>
                <img src="/img/blogger_img.png" alt="">
            </div>
        </nav>
    </div>
</header>