<%- include('layouts/head') %>

<body>
    <%- include('layouts/header') %>
    <main class="main main_bloggers">
        <h2 class="comman_title-h2 bloger_title-spec">
            Все блогеры проверены нами
        </h2>
    </main>
    <div class="blogger">
        <% bloggers.forEach(blogger=> { %>
            <%- include('layouts/blogger', {blogger: blogger}) %>
         <% }) %>
    </div>
    <script src="js/script.js"></script>
</body>

</html>