<%- include('layouts/head') %>

<body>
    <%- include('layouts/header_panel') %>
    <div class="notasks_sign">
        <h3>Пока нет активных заданий</h3>
        <picture class="waiting-icon">
            <img src='/img/waiting.png' />
        </picture>
    </div>
</body>

</html>