<%- include('layouts/head') %>

<body>
    <%- include('layouts/header_panel') %>
    <h3 id='nomoney_sign' style="display: none; color: tomato; text-align: center; margin-bottom: 10px; margin-top: 10px;">На вашем счёте нет денег</h3>
    <div class="cabiten_main">
        <div class="cabinet_blocks-payment">
            <div id='pmethod_card' onclick="choosePaymentMethod('card')"  class="cabinet_block-payment choosen_cabinet_block-payment">
                <div class="module3">
                    <a>
                        <img src="/img/mono.png">
                    </a>
                </div>
            </div>
            <div id='pmethod_qiwi' onclick="choosePaymentMethod('qiwi')" class="cabinet_block-payment">
                <div class="module3"> <a>
                        <img src="/img/qiwi.png">
                    </a>
                </div>
            </div>
            <div id='pmethod_yoomoney' onclick="choosePaymentMethod('yoomoney')" class="cabinet_block-payment">
                <div class="module3"> <a>
                        <img src="/img/io.png">
                    </a>
                </div>
            </div>
        </div>
        <form id='withdraw_form' action="submit" class="cabinet_payment-form">
            <div class="withdraw_buttons">
                <input required id='pwaller_number' type="text" class="cabinet_payment-input" placeholder="Номер карты">
                <input required type="number" class="cabinet_payment-input" placeholder="Сумма вывода">
            </div>
            <button id='withdraw_btn' class="blogger_btn bloger_buttons-item btn-purple" type="submit">Вывести</button>
        </form>
    </div>
    <!-- <div class="cabinet_transaction-status">
        <div class="module3">
            <span id="card">CARD</span>
            <span id="sum2">1700 РУБ</span>
            <span id="card-numb">5469 1234 1345 1345</span>
            <span id="card-data">12.04.2021 17:37</span>
            <span id="card-status">ВЫПОЛНЕНО</span>
        </div>
    </div> -->
    <div class="cabinet_transaction-status">
        <h3>История выводов пуста</h3>
    </div>
<script>
    const pmethods = document.querySelectorAll('.cabinet_block-payment')
    const pwaller_number = document.getElementById('pwaller_number')
    const nomoney_sign = document.getElementById('nomoney_sign')
    const withdraw_btn = document.getElementById('withdraw_btn')
    const withdraw_form = document.getElementById('withdraw_form')
    function choosePaymentMethod (method) {
        pmethods.forEach(pmethod => {
            pmethod.classList.remove('choosen_cabinet_block-payment')
        })
        const needed = document.getElementById(`pmethod_${method}`)
        needed.classList.add('choosen_cabinet_block-payment')
        if (method == 'card') {
            pwaller_number.placeholder = 'Номер карты'
        } else if (method == 'qiwi') {
            pwaller_number.placeholder = 'Номер телефона/никнейм'
        } else if (method == 'yoomoney') {
            pwaller_number.placeholder = 'Номер кошелька'
        }
    }
    withdraw_btn.addEventListener('submit', function (e) {
        e.preventDefault()
        nomoney_sign.style = 'display: block; color: tomato; text-align: center; margin-bottom: 10px;'
        return false;
    } )
    withdraw_form.addEventListener('submit', function (e) {
        e.preventDefault()
        nomoney_sign.style = 'display: block; color: tomato; text-align: center; margin-bottom: 10px;'
        return false;
    })
</script>
</body>

</html>