<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('layouts/header') %>
    <main class="main">
        <div class="container">
            <div class="main_inner">
                <div class="main_title">
                    <h3 class="main_title-h3">
                        HYPE
                        <br>
                        MEDIA
                    </h3>
                    <small class="mait_title-small">
                        Блогерское агенство
                    </small>
                </div>
                <div class="main_buttons">
                    <button class="main_button">
                        Блогерам
                    </button>
                    <button class="main_button">
                        Рекламодателям
                    </button>
                </div>
                <div class="main_info">
                    <div class="main_info-text">
                        Наше агентство занимается комплексным
                        <br>
                        <small class="main_info-small">
                            обучением и продвижением блогера.
                            <br>
                            Для рекламодателей предоставляем
                            <br>
                        </small>
                        услуги по продвижению на media платформах.
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="why">
        <div class="container">
            <div class="title_gradient why_title">
                <h2 class="title_gragient-h2 why_title-h2">
                    Почему выбирают нас
                </h2>
            </div>
            <div class="why_content">
                <div class="why_blocks">
                    <div class="why_block">Лучшая команда специалистов,
                        как для блогеров, так и для рекламодателей</div>
                    <div class="why_block">Всегда онлайн. Мы ответим вам в любое
                        время суток, в течении 30 минут</div>
                    <div class="why_block">Самые низкие цены на рынке рекламы и
                        самая низкая комиссия для блогеров</div>
                </div>
                <div class="why_img">
                    <img src="/img/why_png.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="plan">
        <div class="container">
            <div class="title_gradient">
                <h2 class="plan_title">План запуска рекламы</h2>
            </div>
            <div class="plan_blocks">
                <div class="plan_block"><strong><img src="/img/1.png" alt=""></strong>
                    <p>Выясняем все, что нужно знать для
                        достижения максимальной результативности,
                        исходя из задач клиента</p>
                </div>
                <div class="plan_block"><strong><img src="/img/2.png" alt=""></strong>
                    <p>На основе трендов и актуальных новостей
                        разрабатываем эффективную кампанию
                        в соответсвии с Конъюнктурой рынка</p>
                </div>
                <div class="plan_block"><strong><img src="/img/4.png" alt=""></strong>
                    <p>Запуск рекламной компании</p>
                </div>
                <div class="plan_block"><strong><img src="/img/3.png" alt=""></strong>
                    <p>Выборка пула блогеров, соответствующих
                        брифингу, специфике задачи и ожидаемым
                        конверсиям</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <img src="/img/logowhite.png" alt="">
    </footer>
    <script src="js/script.js"></script>
</body>

</html>